In [2]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 

college = pd.read_csv("csv.zip")
college

,University,Department,Overall Pay,LW Ratio,Academic Year,Program Year,12 M Gross Pay,9 M Gross Pay,3 M Gross Pay,Fees,Comments
0,Cornell University (CU),Sociology,"$34,605",1.43,2020-2021,1st,NaN,"$28,654","$6,037",$86,NaN
1,Oklahoma State University (OSU),Counseling psychology,"$2,855",0.15,2020-2021,1st,NaN,"$9,855",NaN,"$7,000",There fees are extremely high. They give you h...
2,Emory University,Biological and Biomedical Sciences,"$32,569",1.40,2021-2022,1st,"$32,569",NaN,NaN,NaN,NaN
3,Boston University (BU),PIBS,"$36,782",1.28,2021-2022,1st,"$36,782",NaN,NaN,NaN,NaN
4,Brown University,Computer Science,"$41,930",1.84,2021-2022,1st,NaN,"$29,014","$12,916",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
9619,Duke University (DU),Biochemistry,"$29,840",1.59,2012-2013,6th and up,"$29,840",NaN,NaN,NaN,NaN
9620,University of Virginia (UVA),Chemical Engineering,"$32,000",1.63,2013-2014,4th,"$32,000",NaN,NaN,NaN,"This includes health insurance coverage, tuiti..."
9621,Duke University (DU),Biomedical Engineering,"$32,000",1.70,2013-2014,2nd,"$32,000",NaN,NaN,NaN,This is the stipend associated with the NSF Fe...
9622,University of Virginia (UVA),Chemical Engineering,"$25,000",1.28,2013-2014,4th,"$25,000",NaN,NaN,NaN,This stipend includes full health insurance co...
9623,Duke University (DU),Biomedical Engineering,"$27,850",1.48,2013-2014,6th and up,"$27,850",NaN,NaN,NaN,I just receive the base stipend in my departme...

In [3]:
college.get('University')

0               Cornell University (CU)
1       Oklahoma State University (OSU)
2                      Emory University
3                Boston University (BU)
4                      Brown University
                     ...
9619               Duke University (DU)
9620       University of Virginia (UVA)
9621               Duke University (DU)
9622       University of Virginia (UVA)
9623               Duke University (DU)
Name: University, Length: 9624, dtype: object